<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gemelo.Applications.Tournify.Clock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Gemelo.Applications.Tournify.Clock.Properties.Settings>
            <setting name="TournifyUrl" serializeAs="String">
                <value>https://www.tournify.de/live/kiwicup/present/5</value>
            </setting>
            <setting name="ClassMatchResultRow" serializeAs="String">
                <value>MatchRow</value>
            </setting>
            <setting name="DisplayNextMatchesCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ClassMatchCurrentTime" serializeAs="String">
                <value>CurrentTime</value>
            </setting>
            <setting name="MatchDuration" serializeAs="String">
                <value>00:25:00</value>
            </setting>
        </Gemelo.Applications.Tournify.Clock.Properties.Settings>
    </applicationSettings>
</configuration>